.educations-header {
  font-size: 60px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

@media (max-width: 1380px) {
  .educations-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .educations-header {
    font-size: 30px;
  }
}

.educations-body-div {
  margin-top: 0px !important; /* remove big gap above cards */
  padding-top: 0px !important;
}

.basic-education {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
