.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Google Sans Regular";
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
}

.skill-image {
  height: 48px;
}
.software-skill-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  font-size: 32px;
  transition: transform 0.2s ease-in-out;
}

.software-skill-icon:hover {
  transform: scale(1.2);
}
